@tailwind base;

@tailwind components;

:root {
  --cyan-color: #00aeef;
  --cyan-dark-color: #0095cc;
  --magent-color: #7f3f98;
  --magent-dark-color: #723989;
  --pink-color: #723989;
  --pink-dark-color: #723989;
  --lightgray-color: #eceff0;
}

#AIT-TBK-ABM {
  font-family: "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", "sans-serif";
}

.primary {
  background-color: var(--magent-color);
}

.accent {
  background-color: var(--cyan-color);
}

@tailwind utilities;
